@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Home.cshtml";
}

    <div class="text-center text-white" @* style="margin-top:250px; *@">
        <h1 class="display-5 fw-bold">Welcome to the Library System</h1>
        <h3 class="fw-bold">
            Where Quiet Minds Speak Volumes.
        </h3>
    </div>
