@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Users.cshtml";
}

<body class="bg-light">
    <h2 class="text-center">Report of Returnee</h2>
<div class="d-flex justify-content-between text-white"></div>

<hr class="text-white">
<input class="form-text" type="date" id="dateFrom">
<input class="form-text" type="date" id="dateTo">
<button class="btn btn-secondary" id="viewReport">View Report</button>

<div class="container">
    <canvas id="mychart"></canvas>
</div>

<script src="~/js/report.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>